.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
.product__meta {
  font-size: 12px;
  display: flex;
  gap: 1rem;
}

body {
  padding: var(--size-9);
  background-color: #F5F5F5
}

h2 {
  font-size: var(--font-size-15);
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.fw-bold {
  font-weight: bold;
  text-align: right;
}

.product {
  display: grid;
  gap: var(--size-5);
  grid-template-columns: 5rem 1fr;
}

.product__info {
  display: grid;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
}

.product__meta {
  margin-top: auto;
}